@import '../config';
h3 {
	font-family: $font-stack;
  	margin: 5px;
}
div {
	font-family: $font-stack;
}
span {
	font-family: $font-stack;
}
.widget-air-travel{
	max-width: 520px;
	margin: 40px auto;

	font-family: $font-stack;
	.airs-company{
		border-radius: 3px;
		background-color: #407177;
		height: 100%;
		.button-list{
			margin: 10px 0;
			
			.button{
				margin: 5px;
				padding: 7px;
				color: $base-color-dack;
				cursor: pointer;
				background: #78E3FF;
				border-radius: 5px;
				box-shadow: 0px 1px 0px 0px #949494;
			}
			.selected{
				background: red;
			}
		}
		h3{
			color: #fff;
		}
	}

	.companies{
		margin-top: 15px;
		display: block;
		.card-company{
			width: 250px;
			background: #D6D6D6;
			margin: 5px;
			color: $base-color-dack;
			display: inline-block;
			border-radius: 2px;
			box-shadow: 1px 1px 2px 0px #949494;

			.company-name{
				border-radius: 3px;
				background: #407177;
				padding: 5px;
				color: #fff;
				box-shadow: 0px 1px 0px 0px #949494;
				font-size: 18px;

			}

			.from-to{
				padding: 5px;
				text-align: left;
				.line {
					margin: 0;
					display: inline;
				}
				p{
					display: inline;
					color: #F34235;	
				}
			}

			.time ,.departure ,.arrival{
				padding: 5px;
				font-size: 14px;
				color: #007eff;
			}

			hr {
				margin: 0;
			}
		}
		h3{
			color: $base-color-dack;
			text-align: center;
		}
	}
}